*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('slike/pozadina4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
}
.row {
    width: 100%;
    overflow: hidden;
}
@media only screen and (min-width: 1000px) {
    [class*="col-"] {
        float: left;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}
@media only screen and (min-width: 501px) and (max-width: 999px){
    [class*="col-t-"] {
        float: left;
    }
    .col-t-1 {
        width: 8.33%;
    }
    .col-t-2 {
        width: 16.66%;
    }
    .col-t-3 {
        width: 25%;
    }
    .col-t-4 {
        width: 33.33%;
    }
    .col-t-5 {
        width: 41.66%;
    }
    .col-t-6 {
        width: 50%;
    }
    .col-t-7 {
        width: 58.33%;
    }
    .col-t-8 {
        width: 66.66%;
    }
    .col-t-9 {
        width: 75%;
    }
    .col-t-10 {
        width: 83.33%;
    }
    .col-t-11 {
        width: 91.66%;
    }
    .col-t-12 {
        width: 100%;
    }
}
@media only screen and (max-width: 500px){
    [class*="col-m-"] {
        float: left;
    }
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}
#naslov{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Papyrus', fantasy;
    font-size: 60px;
}
#unosImena{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px 12px;
    font-size: 14px;
    border: 2px solid #db480e;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    width: 250px;
}
#unosImena:focus{
    border-color: #2ecc71;
}
section input[type="button"]{
    margin-left: 5px;
    display: inline-block;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #34db7a;
    color: #fff;
    border: 2px solid #db480e;
}
section input[type="button"]:hover{
    background-color: #fff;
    color: #db480e;
    border: 2px solid #34db7a;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]+label{
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    color: #db480e;
    background-color: #fff;
    border: 2px solid #34db7a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 20px;
    margin-bottom: 20px;
}
input[type="radio"]+label:hover{
    background-color: #34db7a;
    color: #fff;
    border: 2px solid #db480e;
} 
input[type="radio"]:checked+label{
     font-weight: bold;
     background-color: rgb(72, 46, 223);
     color: #fff;
     border: 2px solid #fff;
} 
#containerSlika {
    min-height: 50px;
}
.slika {
    width: 10%;
    height: auto;
    margin: 1%;
}

#containerTabela{
    text-align: center;
}
.tabela {
    display: none;
}
table {
    border-collapse: collapse;
    width: 40%;
    margin: 20px auto;
    font-size: 18px;
    color: #333;
}

td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}
tr{
    background-color: rgb(72, 46, 223);
    color: #fff;
}
tr:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: #2ecc71;
    color: #fff;
}
#containerVreme{
    text-align: center;
}
div p {
    display: inline-block;
    background-color: rgb(72, 46, 223);
    color: #fff;
    font-size: 24px;
    margin-top: 30px;
    padding: 10px;
}
#vreme {
    display: inline-block;
    font-size: 36px;
    margin-top: 30px;
    padding: 10px;
    color: #22cf6a;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup h3{
    font-size: 38px;
    font-weight: bold;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    font-size: 18px;
    background-color:rgb(72, 46, 223);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}